
.container {

    width: calc(100% - 3px);
    height: 79vh;
    margin-top: 11.3vh;
    font-size:calc(9px + 0.53vw);
    font-weight: lighter;
    overflow: auto;

}

#input-container {

    width: calc(66% - 27vh);
    min-width: 366px;
    max-width: 666px;
    height: auto;
    max-height: 18.66vh;
    margin: auto;
    margin-bottom: 3vh;
    align-items: center;
    padding: 3vh;
    
    background: rgb(21, 21, 21);
    border-radius: 1.6vh;
    border: solid 3px rgb(09, 09, 09);
    box-shadow: 0px 6px 9px  rgb(21, 21, 21);

}
input {

    margin: 1.6vh 0px 1.6vh 0px;
    padding: 0.6vh;
    color: #ffffff66;

    background-color: #262626;
    border: solid 3px #ffffff33;
    border-radius: 1.6vh;

}
#input-somar {

    background-color: #43ff4399;
    color: #ffffff89;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

} #input-somar:hover {

    color: #ffffff89;
    background-color: #37cf37;

}

#h1-container {

    width: 66%;
    min-width: 299px;
    max-width: 666px;
    margin: auto;
    margin-bottom: 2.33vh;

}
h1 {

    font-size: calc(9px + 2.66vh);
    margin-top: 5vh;

}
#q-container {

    width: 66%;
    min-width: 299px;
    max-width: 666px;
    margin: auto;
    margin-bottom: 4.99vh;
    display: flex;

}
#quotebar {

    width: 6px;
    height: auto;
    margin-right: 16px;
    border-radius: 100vh;

    background-color: #afafaf;

}
q {

    font-size: calc(9px + 0.43vh);

    color: #AFAFAF89;

}
.subnautica, .ts4, .gta, .rimworld, .cyberpunk {

    width: 66%;
    min-width: 366px;
    max-width: 666px;
    height: auto;
    max-height: 18.66vh;
    margin: auto;
    margin-bottom: 3vh;
    display: flex;
    align-items: center;
    
    background: rgb(21, 21, 21);
    border-radius: 1.6vh;
    border: solid 3px rgb(09, 09, 09);
    box-shadow: 0px 6px 9px  rgb(21, 21, 21);

}
#img-subnautica, #img-ts4, #img-gta, #img-rimworld, #img-cyberpunk {

    width: 66vw;
    max-width: 20.3vh;
    margin: 0;
    margin-left: -3px;
    margin-right: 3vh;
    float: left;

}
#text-container {

    background: none;
    padding: 3vh;
    padding-left: 1vw;

}
#h2-subnautica {

    color: #FFB91D;
    margin-bottom: 1.33vh;
    font-size:calc(9px + 0.99vw);

}
#h2-ts4 {

    color: #3E9231;
    margin-bottom: 1.33vh;
    font-size:calc(9px + 0.99vw);

}
#h2-gta {

    color: #3E9231;
    margin-bottom: 1.33vh;
    font-size:calc(9px + 0.99vw);

}
#h2-rimworld {

    color: #FAFAFA;
    margin-bottom: 1.33vh;
    font-size:calc(9px + 0.99vw);

}
#h2-cyberpunk {

    color: #F4D615;
    margin-bottom: 1.33vh;
    font-size:calc(9px + 0.99vw)

}
#p-subnautica,  #p-ts4, #p-gta, #p-rimworld, #p-cyberpunk{

    float: right;
}
.social {

    width: 4.3vh;
    border-radius: 100%;
    margin: 1.3vh;
    transition-duration: 0.3s;

} .social:hover {

    scale: 1.1;

}
.transition {

    transition-duration: 1.3s;

}


