
.perfil {

    margin: 3vh;
    margin-top: 11.3vh;
    width: 23vh;
    display: block;
    margin-left: auto;
    margin-right: auto;

    border-radius: 100vh;

}
h1 {

    text-align: center;
    font-size: 2.3rem;

}
#perfil-container {

    width: 100%;
    margin-top: 9vh;
    text-align: center;
    font-size:calc(9px + 0.43vw);
    font-weight: lighter;

}
#yellow-name {

    color: #F4D615;

}

#mobile-footer {

    display: none;

}


