
@media screen and (max-height: 768px) {

    main {

        width: 100%;
        max-width: 833px;

    }
    aside {

        width: 233px;

    }
    #content-container {

        width: calc(100% - 233px);
        
    }
    .item-side-bar {

        width: calc(233px - 10.6vh);

    }
    
}
