
* {

    padding: 0px;
    margin: 0px;
    text-decoration: none;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
::-webkit-scrollbar {

    width: 6px;
    background: rgb(21, 21, 21);
    border-radius: 99vh;

} ::-webkit-scrollbar-track {

    background: transparent;

} ::-webkit-scrollbar-thumb {

    background: #AFAFAF66;
    border-radius: 99vh;

}

/* Global settings */
.transition {

    transition-duration: 1.3s;

}
.flex {

    display: flex;

}
.hide {

    display: none;

}



body{

    background-image: url(../img/webbed.png);
    background-repeat: no-repeat;
    color: #AFAFAF;
    font-family: 'Nunito', 'Ubuntu', 'Microsoft YaHei UI', 'Gill Sans MT', 'Arial';
    font-size: 3vh;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 3vh 0; /* talvez tenha que alterar para "3vh 0" */
    overflow: hidden;
    
}
/* MAIN WINDOW */
main {

    width: 100%;
    max-width: 1333px;
    height: 93vh;
    position: relative;
    display: flex;
    
    border-radius: 3vh;
    border-image: url(subnautica.svg);
    box-shadow: 0 0 0 3px #191919;

    background: #212121;

} .window:before {
    
    pointer-events: none;
    content: "";
    margin: auto;
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: -1;
    width: 100%;
    height: 93vh;

    border-radius: 3vh;
    box-shadow: 0px 9px 19px -6px #212121;

} .window::before {

    pointer-events: none;
    content: "";
    margin: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    width: calc(100% - 6px);
    height: calc(93vh - 6px);
    transition-duration: 1.3s;

    border-radius: 3vh;
    border: solid 3px #83838333;

}
#content-container {

    width: calc(100% - 333px); /* 333px da side-bar */
    height: 93vh;
    position: absolute;
    right: 0px;

} /* --MAIN WINDOW-- */
