
* {

    padding: 0px;
    margin: 0px;
    text-decoration: none;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
::-webkit-scrollbar {

    width: 6px;
    background: rgb(21, 21, 21);
    border-radius: 99vh;

} ::-webkit-scrollbar-track {

    background: transparent;

} ::-webkit-scrollbar-thumb {

    background: #AFAFAF;
    border-radius: 99vh;

}

/* Global settings */
.flex {

    display: flex;

}
.hide {

    display: none;

}

body{

    background-image: url(../img/universe.jpg);
    background-repeat: no-repeat;
    color: #AFAFAF;
    font-family: monospace;
    font-size: 3vh;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 3vh 0; /* talvez tenha que alterar para "3vh 0" */
    overflow: hidden;
    
}

#planeta {

    position: absolute;
    bottom: -99px;
    right: -66px;
    width: 26vh;
    z-index: 999;

}

/* MAIN WINDOW */
main {

    width: 89%;
    max-width: 1333px;
    height: 93vh;
    position: relative;
    display: flex;
    
    border-radius: 3vh;
    border-image: url(subnautica.svg);
    box-shadow: 0 0 0 3px #160d16;

    background: #16161666;
    backdrop-filter: blur(99px);

} .window:before {
    
    pointer-events: none;
    content: "";
    margin: auto;
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: -1;
    width: 100%;
    height: 93vh;

    border-radius: 3vh;
    box-shadow: 0px 9px 19px -6px black;

} .window::before {

    pointer-events: none;
    content: "";
    margin: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    width: calc(100% - 6px);
    height: calc(93vh - 6px);

    border-radius: 3vh;
    border: solid 3px rgba(255, 255, 255, 0.166);

}
#content-container {

    width: calc(100% - 333px); /* 333px da side-bar */
    height: calc(93vh - 6px);
    position: absolute;
    right: 0px;
    border-radius: 0vh 3vh 3vh 0vh;

    border: solid 3px #00000066;
    background-color: #212121;

} /* --MAIN WINDOW-- */
